<!-- Creator     : groff version 1.20.1 -->
<!-- CreationDate: Fri Jan 14 19:57:50 2011 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="generator" content="groff -Thtml, see www.gnu.org">
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<meta name="Content-Style" content="text/css">
<link rel="stylesheet" type="text/css" href="texi2tr.css" />
<title>GNU Modula-2</title>
</head>

<body>
  <!-- site wide top running header menu -->

  <ul id="overview">
    <li class="home">
      HOME_HREF      
    </li>
    <li class="release">
      12_HREF
    </li>

    <li>
      <a href="news.html" title="News">News</a>
    </li>
    <li>
      <a href="development.html" title="Development">Development</a>
    </li>
    <li>
      <a href="community.html" title="Community">Community</a>
    </li>
  </ul>

  <div id="header">
    <h1>
      <span style="display:inline-block; vertical-align:middle">
	<img src="200px-Heckert_GNU_white.png" alt="Heckert_GNU_white.png">
      </span>
      <span style="display:inline-block; vertical-align:middle; font-size: 50px">
	GNU Modula-2
      </span>
    </h1>

    <!-- homepage tab menu -->

    <div id="tabmenu">
      <ul id="tab">
	<li class="selected"><a href="about.html"><span>About</span></a></li>
	<li><a href="download.html"><span>Download</span></a></li>
	<li><a href="release.html"><span>Latest Release</span></a></li>
	<li><a href="license.html"><span>License</span></a></li>
	<li><a href="platforms.html"><span>Platforms</span></a></li>
	<li><a href="users.html"><span>Users</span></a></li>
      </ul>
    </div>  
  </div>

<div id="page">
  <div class="plain">
    <h2>The home of the GNU Modula-2 compiler</h2>
    <p>
      GNU Modula-2 is a <a href="http://gcc.gnu.org/frontends.html">front end</a>
      for the GNU Compiler Collection
      (<a href="http://gcc.gnu.org/">GCC</a>).
      GNU Modula-2 is complete and implements PIM2, PIM3, PIM4 and ISO dialects.
      Also implemented are a complete set of free ISO libraries and PIM libraries.</p>
  </div>
</div>
</body>
</html>
