<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>GNU Modula-2 community</title>
<meta http-equiv="refresh" content="0;url=__WEBRELEASE__/community.html"></head>
<body>
how to subscribe to the mailing list.
</body>
</html>
