<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>GNU Modula-2 development</title>
<meta http-equiv="refresh" content="0;url=__WEBRELEASE__/gm2-27.html"></head>
<body>
git access etc.
</body>
</html>
