<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>GNU Modula-2 news</title>
<meta http-equiv="refresh" content="0;url=__WEBRELEASE__/gm2.html"></head>
<body>
no news is good news!  The news section is still being created.
</body>
</html>
